body{
  background-color: #FAF3E0;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px; 
}

.Header {
  background-color: #388E3C;
  padding: 20px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  
}

.itemsContainer {
  /* grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));  */               
  width: 100%;

}

.cartContainer {  
}

.content{
  display: flex;
  justify-content: space-between;
  gap : 10px; 

}

@media (max-width: 800px) {
  .App {
    grid-template-columns: 1fr;
  }

  .itemsContainer {
    grid-column: 1 / -1; /* Take the entire width on smaller screens */
  }

  .cartContainer {
    grid-column: 1 / -1; /* Move cart to the bottom */
  }  
  .content{
    flex-direction: column;
    gap : 10px;
  }
}
