.item{
    padding: 10px; 
    /* margin: 10px; */
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 199, 167);

}
.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));  
    gap: 10px;

}
.addBtn{
    background-color: #388E3C;
    color: white;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-top: -20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.img{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}